 * {
     color: var(--main-color);
 }
 :root {
     --main-color: gold;
     --secondary-color: #222;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--secondary-color) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]:not(.color-exclude), input[type=number]:not(.color-exclude):focus {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    color: var(--main-color);
    border: 1px var(--main-color) solid;
    background-color: var(--secondary-color);
    border-radius: 4px;
}

input {
    padding-left: 7px;
}

.dropdown-menu {
    background-image: linear-gradient(180deg, #3b3b3b , rgba(100 100 100 / 1), rgba(59 59 59 / 1));
}
.dropdown-item {
    transition: padding-left .5s;
}
.dropdown-item:hover {
    padding-left: 30px;
    text-decoration: underline;
}
.text-input {
    border: none;
    border-radius: 5px;
    width: 100%;
    color: var(--main-color);
    background-color: var(--secondary-color);
    padding-left: 5px;
    outline: none;
}

.divider{
    margin: 10px 0;
}

::-webkit-scrollbar {
    display: none;
}

.product-tabset > .nav-tabs > li:hover > a {
    border-bottom: 1px var(--main-color) solid;
}