@import "~/src/styles.scss";

* {
    -webkit-user-select: none;
    user-select: none;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.fade {
    animation-name: fade;
    animation-fill-mode:both;
    animation-duration: 3s;
    // display: block;
    // width: 100%;
    // height: 700px;
}


.carousel {
    overflow: hidden;
    width: 100%;
    margin-left: 0 !important;

    .carousel-stage {
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        

        .slide {
            display: flex;
            justify-content: center;
            position: absolute;
            padding: 0 1.5%;
            width: 80%;
            height: 95%;
            img {
                width: 100%;
                height: 100%;
            }   
        }
    }

    .slide-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 10%; max-width: 50px; min-width: 40px;
        height: 20%; max-height: 50px; min-height: 40px;
        border-radius: 50%;
        background-color: var(--dark-background);
        background-image: none;
        color: white;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: rgba(0,0,0,.7);
        }
        
        i {
            font-size: 1.5rem;
        }
    }
}

.caption {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    height: auto;
    
    img {
        border-radius: 50%;
        z-index: -1;
    }
}