<carousel [(activeSlide)]="activeSlideIndex" class="row" >
  <slide *ngFor="let slide of slides; let index=index" class="col-sm-12 col-md-6 col-lg-4">
    <img [src]="slide.image" alt="image slide" class="fade">
 
    <div class="carousel-caption">
      <h4>Slide {{index}}</h4>
      <p>{{slide.text}} The margin on right is because of this carousel so DON'T TRY TO CHANGE ANYTHING ON THE OTHER ONE!</p>
    </div>
  </slide>
</carousel>
<!-- Add accessability for admin only  -->
<!-- <br/>
<div>
  <button type="button" class="btn btn-info"
          (click)="addSlide()">Add Slide
  </button>
  <button type="button" class="btn btn-info"
          (click)="removeSlide()">Remove Current
  </button>
</div> -->