<div class="container">
  <div class="row" *ngIf="product">
    <div class="col-4">
        <h1 class="text-center">*Editing Mode*</h1>
    </div>
    <div class="col-8">
      <div class="alert alert-info" *ngIf="editForm.dirty">
        <strong>Information: </strong> You have made changes. Any unsaved changes will be lost
      </div>
    </div>
      <div class="col-4">
          <div class="card">
              <img src="{{product.photoUrl || '../../../assets/Old-site/images/rb_logo_metal_print.png'}}" alt="{{product.category}}" class="card-img-top img-thumbnail">
              <div class="card-body">
                  <div>
                      <strong>Category: </strong>
                      <p>{{product.category}}</p>
                  </div>
                  <div>
                      <strong>Price: </strong>
                      <p>{{product.price}}</p>
                  </div>
                  <div>
                      <strong>In stock: </strong>
                      <p>{{product.inStock}}</p>
                  </div>
                  <div>
                      <strong>Sold: </strong>
                      <p>{{product.soldItems}}</p>
                  </div>
              </div>
              <div class="card-footer">
                  <button [disabled]="!editForm.dirty" type="submit" form="editForm" class="btn btn-block btn-success">Save Changes</button>
              </div>
          </div>
      </div>
      <div class="col-8">
          <tabset class="product-tabset">
              <tab heading="About">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateProduct()">
                  <h4 class="mt-2">Description:</h4>
                  <textarea class="form-control" name="category" rows="6" [(ngModel)]="product.category"></textarea>
                  <h4>Price:</h4>
                  <input type="number" name="price" placeholder="Price" [(ngModel)]="product.price">
                  <h4>Sold Items:</h4>
                  <input type="number" name="soldItems" placeholder="Sold Items" [(ngModel)]="product.soldItems">
                  <h4>In Stock:</h4>
                  <input type="number" name="inStock" placeholder="In Stock" [(ngModel)]="product.inStock">
                </form>
              </tab>
              <tab heading="Edit Photos">
                <app-photo-editor [product]="product"></app-photo-editor>
            </tab>
          </tabset>
      </div>
  </div>
</div>