<div class="container">
        <form [formGroup]="addProductForm" class="form-inline mt-2 mt-md-0" 
                (ngSubmit)="addProductForm.valid && addProduct()" autocomplete="off"> 
                <!-- <input
                        class="form-control mr-sm-2 mt-2"
                        type="text" 
                        formControlName="category" 
                        placeholder="Product type">
                <input 
                        class="form-control mr-sm-2 mt-1"
                        type="number" 
                        formControlName="price"
                        placeholder="Product price">
                <input 
                        class="form-control mr-sm-2 mt-1"
                        type="number" 
                        formControlName="inStock"
                        placeholder="How many in stock">
                <input 
                        class="form-control mr-sm-2 mt-1"
                        type="number" 
                        formControlName="soldItems" 
                        placeholder="How many sold"> -->
                
                <app-text-input [formControl]="getFormControl('name')" [label]="'Product Name'"></app-text-input>
                <app-text-input [formControl]="getFormControl('category')" [label]="'Category'"></app-text-input>
                <app-text-input [formControl]="getFormControl('price')" [label]="'Price'" type="number"></app-text-input>
                <app-text-input [formControl]="getFormControl('description')" [label]="'Description'"></app-text-input>
                <app-text-input [formControl]="getFormControl('inStock')" [label]="'In Stock'" type="number"></app-text-input>
                <app-text-input [formControl]="getFormControl('soldItems')" [label]="'Sold items count'" type="number"></app-text-input>
        <div>
                <button [disabled]="!addProductForm.valid" type="submit" class="btn btn-success my-2 my-sm-1" >Add Product</button>
        </div>
        </form>
</div>
<!-- For controlling the carousel -->
<!-- <div>
    <button type="button" class="btn btn-info"
            (click)="addSlide()">Add Slide
    </button>
    <button type="button" class="btn btn-info"
            (click)="removeSlide()">Remove Current
    </button>
  </div> -->