<div class="container mt-2">
    <div *ngIf="(basket$ | async) === null">
        <p class="text-center">Your basket is empty, you can start shopping in the <a routerLink="/shop"><strong>shop</strong></a> page</p>
    </div>

    <div *ngIf="(basket$ | async)" class="d-none d-md-block">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-3 mb-1">
                        <app-basket-summary
                            (incrementItem)="incrementItemQuantity($event)"
                            (decrementItem)="decrementItemQuantity($event)"
                            (removeItem)="removeBasketItem($event)"
                        ></app-basket-summary>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-6">
                        <app-order-totals></app-order-totals>
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <ul>
        </ul>
    </div>
</div>

<div *ngIf="(basket$ | async)" class="d-md-none">
    <div class="container">
        <div *ngFor="let item of (basket$ | async).items" class="row">
            <div class="col-6"><img class="col-12" src="{{item.photoUrl}}" alt="Photo not found"></div>
            <div class="col-6 description-col d-none d-md-flex">
                <div>
                    <h1>
                        <strong style="font-style: italic;">{{item.productName}}</strong>
                    </h1>
                    <ul>
                        <li><h4><strong>Type:</strong> {{item.category}}</h4></li>
                        <li><h4><strong>Price:</strong> {{item.price}}</h4></li>
                        <li><h4><strong>Quantity:</strong> {{item.quantity}}</h4></li>
                        <li><h4><strong>SubTotal:</strong> ${{item.price * item.quantity}}</h4> </li>
                    </ul>
                </div>                    
                <div class="row">
                    <div class="col-6" style="padding-left: 0;">
                        <div class="d-flex align-items-center justify-content-center mx-2">
                            <span (click)="decrementItemQuantity(item)"  class="icon-span left-span">
                                <i class="fa fa-minus text-warning mr-2"></i>
                            </span>
                            <span class="font-weight-bold text-center" 
                            style="font-size: 1.5em; width: 40%; height: 50px;
                             padding-top: 5px; color: initial !important; border-width: 1px;">{{item.quantity}}</span>
                            <span (click)="incrementItemQuantity(item)" class="icon-span right-span">
                                <i class="fa fa-plus text-warning mx-2"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-6">
                        <button (click)="removeBasketItem(item)" class="btn btn-primary color-exclude">Delete</button>
                    </div>
                </div>
            </div>

            <div class="col-6 description-col d-md-none">    
                <div>
                    <h2>
                        <strong style="font-style: italic;">{{item.productName}}</strong>
                    </h2>
                    <ul>
                        <li><strong>Type:</strong> {{item.category}}</li>
                        <li>Price: ${{item.price}}</li>
                        <li>Quantity: {{item.quantity}}</li>
                        <li>Subtotal: ${{item.price * item.quantity}}</li>
                    </ul>
                </div>
            </div>
            <div class="row d-md-none mt-2">
                <div class="col-6" style="padding-right: 0;">
                    <div class="d-flex align-items-center justify-content-center">
                        <span (click)="decrementItemQuantity(item)"  class="icon-span left-span">
                            <i class="fa fa-minus text-warning mr-2"></i>
                        </span>
                        <span class="font-weight-bold text-center" 
                        style="font-size: 1.5em; width: 40%; height: 50px;
                         padding-top: 5px; color: initial !important; border-width: 1px;">{{item.quantity}}</span>
                        <span (click)="incrementItemQuantity(item)" class="icon-span right-span">
                            <i class="fa fa-plus text-warning mx-2"></i>
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <button (click)="removeBasketItem(item)" class="btn btn-primary color-exclude">Delete</button>
                </div>
            </div>

        </div>
    </div>
</div>