<div class="card h-100 ">
    <div class="image position-relative" style="cursor: pointer;">
        <img src="{{product.photoUrl || '../../../../../assets/Old-site/images/rb_logo_metal_print.png'}}" alt="{{product.name}}" class="card-img bg-light">
        <div class="card-body d-flex flex-column">
                <h6>{{product.name | titlecase}}</h6>
            <span class="mb-2">{{product.price | currency}}</span>
            
            <div class="mt-auto hover-overlay btn-group">
                <button (click)="addItemToBasket()" type="button" class="btn btn-primary mr-2"><i class="fa fa-shopping-cart"></i></button>
                <button routerLink="/shop/{{product.id}}" type="button" class="btn btn-primary"><i class="fa fa-eye"></i> </button>
            </div>
        </div>
    </div>
    
</div>