<div class="container-fluid">

  <div class="row">
    <section class="d-none d-sm-block col-sm-3 col-xl-2">
        <h5 class="text-warning ml-3">Sort By</h5>
        <select title="sortSelect" class="custom-select mb-2" (change)="onSortSelect($event.target.value)" #sortSelect>
            <option 
            *ngFor="let sortOption of sortOptions"
            [value]="sortOption.value"
            >{{sortOption.name}}</option>
        </select>
        <h5 class="text-warning ml-3">Types</h5>
        <ul class="categoryList list-group my-3">
            <li class="list-group-item slide-text-on-hover" 
            *ngFor="let category of categories"
            [class.active]="category.id === shopParams.categoryId"
            [value]="category.id"
            (click)="onCategorySelect(category.id)"
            >{{category.name}}</li>
        </ul>
    </section>
    
    <section class="col-12 col-sm-9 col-xl-10">
            <section class="d-flex flex-row flex-wrap d-sm-none">
                <div>
                    <h5 class="text-warning ml-3">Sort By</h5>
                    <select title="sortSelect" class="custom-select mb-2" (change)="onSortSelect($event.target.value)" #mobileSortSelect>
                        <option 
                        *ngFor="let sortOption of sortOptions"
                        [value]="sortOption.value"
                        >{{sortOption.name}}</option>
                    </select>
                </div>
                <div class="ml-2">
                    <h5 class="text-warning ml-3">Types</h5>
                    <select title="mobileCategorySelect" class="custom-select mb-2" (change)="onCategorySelect($event.target.value)" #mobileCategorySelect>
                        <option 
                        *ngFor="let category of categories"
                        [value]="category.id"
                        >{{category.name}}</option>
                    </select>
                </div>
                <ul class="categoryList list-group my-3 d-none">
                    <li class="list-group-item slide-text-on-hover" 
                    *ngFor="let category of categories"
                    [class.active]="category.id === shopParams.categoryId"
                    [value]="category.id"
                    (click)="onCategorySelect(category.id)"
                    >{{category.name}}</li>
                </ul>
            </section>
            <ng-container class="row">
                <div class="d-flex flex-wrap justify-content-between align-items-center pb-2">
                    <div class="d-flex flex-wrap flex-sm-nowrap mr-0 align-items-center">
                        <input (keyup)="onSearch()" class="form-control text-input mr-2 mb-2" style="min-width: 150px;" type="text" placeholder="Search" #search>
                        <button (click)="onSearch()" type="submit" class="btn btn-outline-primary mb-2">Search</button>
                        <button (click)="onReset()" type="reset" class="btn btn-outline-secondary ml-2 mb-2">Reset</button>
                    </div>
                    <app-paging-header [pagination]="pagination"></app-paging-header>
                </div>
                
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 g-3" >
                    <div class="col" *ngFor="let product of products">
                        <app-product-item [product]="product"></app-product-item>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="pagination && pagination.count > 0" class="d-flex justify-content-center my-3">
                <app-pager [pagination]="pagination" (pageChanged)="onPageChanged($event)"></app-pager>
            </div>
        </section>
    </div>
</div>