/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

* {
    color: var(--main-color) !important;
    user-select: none;
}

.navbar {
    background-image: linear-gradient(180deg, #3b3b3b , rgba(100 100 100 / 1), #3b3b3b);
    margin-bottom: 10px;
}
#navbarNavDropdown {
    justify-content: space-between;
}

.search-bar {
    border-radius: 10px;
    display: flex;
    flex-grow: .7;
    color: var(--main-color);
    background-color: var(--secondary-color);
    height: 35px;
}
.search-submit {
    border: none;
    border-radius: inherit;
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
}
.search-bar span:hover {
    background-color: var(--main-color);
    border: 2px var(--main-color) solid;
}
.search-bar span:hover i {
    color: var(--secondary-color) !important;
}
.search-bar span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    border: 1px var(--secondary-color) solid;
    border-left: 1px var(--main-color) solid;
    border-radius: 0 10px 10px 0;
    color: var(--main-color);
}
.search-bar span i {
    font-size: 20px;
    color: var(--main-color);
}
