<div class=".container-fluid">
    <div class="row">
        <div *ngFor="let product of products" class="col-sm-12 col-md-6 col-lg-4" routerLink="/products/{{product.id}}">
            <div class="card mb-2">
                <img src="{{product.photoUrl || '../../../assets/Old-site/images/rb_logo_metal_print.png'}}" class="card-img-top" alt="image not availabe">
                    <h5 class="card-title text-center">{{product.category}}</h5>

                <div class="product-info">
                    <div>
                        <h5 class="card-title mb-2 text-center">{{product.category}}</h5>
                        <p class="text-center">{{product.description}}</p>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>