<div class=".container-fluid">
    <div class="row">
        <div *ngFor="let product of products" class="col-sm-4" routerLink="/products/{{product.id}}">
            <div class="card mb-2">
                <img src="{{product.photoUrl || '../../../assets/Old-site/images/rb_logo_metal_print.png'}}" class="card-img-top" alt="image not availabe">
                <div class="card-body p-1">
                  <h5 class="card-title text-center">{{product.category}}</h5>
                  <p class="card-text text-center">Some quick example</p>
                </div>
            </div>
        </div>
    </div>
</div>